  <!-- 搜索框 -->
  <div class="weui-search-bar" v-bind:abc="title" :class="['weui-search-bar',{
    'weui-search-bar_focusing': isFocus
}]" id="searchBar">
      <form class="weui-search-bar__form">
          <div class="weui-search-bar__box">
              <i class="weui-icon-search"></i>
              <input v-model="searchtxt" type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索"
                  required="">
              <a @click="clear" href="javascript:" class="weui-icon-clear" id="searchClear"></a>
          </div>
          <label @click="taggle" class="weui-search-bar__label" id="searchText">
              <span>{{title}}</span><i class="weui-icon-search"></i>

          </label>
      </form>
      <a v-on:click="taggle" href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">{{cancel}}</a>
  </div>